# Student Performance Indicator

#### Life Cycle of a Machine Learning Project
- Understand Problem Statement
- Data Collection
- Performing Data Checks
- Exploratory Data Analysis
- Data Pre-Processing
- Model Training
-Choosing best model

In [1]:
import os
print(os.getcwd())

f:\mlproject_endtoend\src\notebook

In [3]:
import pandas as pd

df = pd.read_csv("data\StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75